{% block sonata_profile_content %}
    {{ form_errors(form) }}

    <div class="panel panel-custom">
        {% block fos_user_content %}
            <div class="col-xs-10 col-xs-offset-1">
            {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
            </div>
        {% endblock fos_user_content %}
    </div>
{% endblock sonata_profile_content %}
