{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div class="row">
    <div class="span6 col-lg-6">
        <div class="panel panel-warning panel-custom">
            <div class="panel-heading">
                <i class="fa fa-cogs orange" aria-hidden="true"></i>
                <h2 class="panel-title orange">{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</h2>
            </div>
            <div class="panel-body">
                {% include "SonataUserBundle:Profile:edit_authentication_content.html.twig" %}
            </div>
        </div>
    </div>
    <div class="span6 col-lg-6">
        <div class="panel panel-danger panel-custom">
            <div class="panel-heading">
                <i class="fa fa-key pink" aria-hidden="true"></i>
                <h2 class="panel-title pink">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h2>
            </div>
            <div class="panel-body">
                {% render url("sonata_user_change_password") %}
            </div>
        </div>
    </div>
</div>
